[submodule "hardware"]
	path = hardware
	url = https://github.com/damellis/sanguino.git
[submodule "libraries/Adafruit_GFX"]
	path = libraries/Adafruit_GFX
	url = https://github.com/adafruit/Adafruit-GFX-Library.git
[submodule "libraries/Adafruit_PCD8544"]
	path = libraries/Adafruit_PCD8544
	url = https://github.com/adafruit/Adafruit-PCD8544-Nokia-5110-LCD-library.git
